{% load static %}


<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

  <title>

  </title>

  <link rel="shortcut icon" type="image/jpg" href="{% static 'images/Logo.png' %}"/>
  <link rel="stylesheet" type="text/css"  href="{% static 'css/style.css' %}">
  <link rel="stylesheet" type="text/css"  href="{% static 'css/style1.css' %}">
  <link rel="stylesheet" type="text/css"  href="{% static 'css/style2.css' %}">
  <style>

.formbox{
padding: 10px 30px 50px 30px;


}


#id_title{
height: 80px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}

#id_overview{
height: 200px;
  width: 100%;
  margin-top: 20px;
  position: relative;



}

#id_thumbnail{

  margin-top: 20px;
  position: relative;

}

#id_old_password{
height: 60px;
  width: 100%;
  margin-top: 20px;
  position: relative;

}
#id_new_password1{
height: 60px;
  width: 100%;
  margin-top: 20px;
  position: relative;

}
#id_new_password2{

height: 60px;
  width: 100%;
  margin-top: 20px;
  position: relative;

}





  </style>

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar- static-top" style='background-color:#00001a; '>
    <div class="container" >
      <div class="navbar-brand">
                      <img  style="background-color:" src="{% static 'images/Logo.png' %}" width="300" height="70" class="d-inline-block align-top">
                    </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style='background-color:red;'>
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li>
            <a href="{% url 'postlist' %}" class="nav-link text-left" style="font-size:20px;color:red">News</a>
          </li>


          <li><a href="{% url 'createpost' %}" class="nav-link text-left" style="font-size:20px;color:red">Post</a>
          </li>
          <li><a href="{% url 'users' %}" class="nav-link text-left" style="font-size:20px;color:red">People</a>
          </li>

          <li>
            <a href="{% url 'visual' %}" class="nav-link text-left" style="font-size:20px;color:red">Visualization</a>
          </li>
           <li>
            <a href="{% url 'profile' %}" class="nav-link text-left" style="font-size:20px;color:red">Profile</a>
          </li>
           <li>
            <a href="{% url 'changepassword' %}" class="nav-link text-left" style="font-size:20px;color:red">Pwd</a>
          </li>


        </ul>

      </div>

      <form action="{% url 'search' %}" class="form-inline my-2 my-lg-0" method = 'get'>


        <input class="form-control mr-sm-2" type="search" name ="find" placeholder="Curious??" aria-label="Search">

        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>

      </form>
    </div>
    <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">
      <a href="{% url 'logout' %}" class="nav-link text-left" style="font-size:20px;color:red">Logout</a>
    </button>

  </nav>
  {% block content %}


  {% endblock %}



<script>
  var ctx = document.getElementById('myChart').getContext('2d');
  var chartOptions = {
    legend: {
      display: false
    },
    scales: {
      xAxes: [{
        barPercentage: 1
      }],
      yAxes: [
        // {barPercentage: 1},
        // {gridLines:{drawBorder: false}},
        {
          ticks: {
            display: false
          }
        },
        // {ticks: {mirror: true}},
        {
          display: false
        },

      ],
      elements: {
        rectangle: {
          borderSkipped: 'left',
        }
      }
    }
  };
  var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'horizontalBar',

    // The data for our dataset
    data: {
      labels: {{ Name|safe }},
            datasets: [{
                data: {{ Case|safe }},
                label: 'Infected Counts',
                barThickness:'flex',
                backgroundColor:'#FAD7A0',

            }]
    },



    // Configuration options go here
    options: chartOptions
  });
</script>

<script>
    var ctx2 = document.getElementById('lineChart').getContext('2d');
		var data2 ={{datasetsForLine|safe}};
    var chartOptions2 = {
      legend: {
        display: true
      },
      scales: {
        yAxes: [{
          type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
          display: true,
          position: 'left',
          id: 'y-axis-1',
        }, {
          type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
          display: true,
          position: 'right',
          id: 'y-axis-2',

          // grid line settings
          gridLines: {
            drawOnChartArea: false, // only want the grid lines for one axis to show up
          },
        }],
      },

    };


      var chart2 = new Chart(ctx2, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
          labels: {{ axisvalues|safe }},
                datasets:data2,
        },



        // Configuration options go here
        options: chartOptions2
      });




</script>
<!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>


