{% extends 'Base.html' %}
{% load static %}

{% block content %}
<!---
<div class="container">
  <div class="jumbotron">
    <div style='text-align:center'>
      <h1>People You May know</h1>
    </div>
    <hr class="my-4">
    <br>
     <div class='row justify-content-center'>
      {% for profile in profiles %}
    <div class="card shadow" style="width: 25rem; margin-bottom: 30px; margin-right: 60px;">
      <img class="card-img-top" {% if profile.photo %} src="{{profile.photo.url}}" {% else %}
      src="{% static 'images/default.PNG' %}" {% endif %}>
      <div class="card-body text-center">
        <p class="card-text">
        <h1>{{profile}} </h1>
        <a href="{% url 'profile-detail' profile.pk %}" class="btn btn-info btn-lg"  role="button">
          --see profile--</a>
        </p>
      </div>
    </div>

    {% endfor %}

    </div>
  </div>

</div>
-->

<div class="container">
    <div class="jumbotron">
    <div style='text-align:center'>
      <h1>People You May know</h1>
    </div>
<div class='row justify-content-center'>
 {% for profile in profiles %}
      <div class="outer button" style="width: 33.33%;">
          <div class="wrapper">
    <div class="img-area">
      <div class="inner-area">
          {% if profile.photo %}
      <img src="{{profile.photo.url}}"alt="" >
  {% else %}
      <img src="{% static 'images/default.png' %}"alt="" >
  {% endif %}

      </div>
    </div>
    <div class="icon dots"><i class="fas fa-ellipsis-v"></i></div>
    <div class="name">{{profile.user.username}}</div>
    <div class="about">
      <a href="{% url 'profile-detail' profile.pk %}" class="btn btn-info btn-lg"  role="button">
          see profile</a>
    </div>
    <div class="social-icons">
      <a href="#" class="fb"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
      <a href="#" class="insta"><i class="fab fa-instagram"></i></a>
      <a href="#" class="yt"><i class="fab fa-youtube"></i></a>
    </div>

</div>

      </div>

          {% endfor %}
        </div>
    </div>
    </div>


{% endblock %}