
{% extends 'Base.html' %}
{% load static %}
{% block content %}


<!--
{% for trends in posts %}
<div class="container" style="background-color:#330000;">

  <div class="col-lg-10" style="margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 25px;
  border: 2px solid #73AD21;">
    <div class="section-title">
      <a href="#" style="font-size:20px;color:#ff9999">#Author: {{trends.Author.user.username}} </a>
    </div>
    <div class="trend-entry d-flex" >

      <div class="trend-contents">
        <a href="#" style="font-size:20px;color:#FF69B4; font-family: 'Lucida Console', Courier, monospace;">{{trends.title}}</a>
        {% if trends.thumbnail %}
         <a href="#"><img src="{{trends.thumbnail.url}}"  style="display: block;


  margin-left: auto;
  margin-right: auto;
  height:auto;
    width:100;
    max-width:400px;" alt="Image"></a>
        {% endif %}
        <div class="" style='font-size:20px;color:#DCDCDC;'>
          {{trends.overview}}

        </div>


        <div class="post-meta">
          <span class="date-read" style="font-size:20px;color:red">{{trends.time_upload|timesince}} ago
          </span>

          <span style="font-size:20px;color:red;position:absolute;
  bottom:0;
  right:0;">{{trends.view}}
            <i class="fa fa-eye">.</i>
          </span>

        </div>
      </div>
    </div>
  </div>
</div>


{% endfor %}
-->
{% for trends in posts %}
<div class="container">
<div class="jumbotron">
  <p class="display-6"style="font-size:20px" >Author: {{trends.Author.user.username}}</p>
  <h1 class="display-5">{{trends.title}}</h1>
  <hr class="my-4">
  <p>{{trends.overview}}</p>
  <p class="lead">
    <a class="btn btn-info btn-lg" href="#" role="button">Mark as read</a>
  </p>
  <div class="row justify-content-center">
  <p style="">
    {{trends.time_upload}} [{{trends.time_upload|timesince}} ago]
  </p>
    </div>

</div>
</div>
<hr>
{% endfor %}





{% endblock %}