
{% extends 'Base.html' %}
{% load static %}
{% block content %}

<div class="blog-card spring-fever">
  <div class="title-content">
    <h3><a href="#">Estonian Entrepreneurship University</a></h3>
    <div class="intro"> <a href="#">{{u.Faculty}}</a> </div>
  </div>
  <div class="card-info">
    {{u.bio}}
  </div>
  <div class="utility-info">
    <ul class="utility-list">
      <li><span class="licon icon-dat"></span>{{u.created}}</li>
      <li><span class="licon icon-tag"></span><a href="#">Edit</a>, <a href="#">{{u.user.username}}</a></li>
    </ul>
  </div>
  <div class="gradient-overlay"></div>
  <div class="color-overlay"></div>
</div><!-- /.blog-card -->

<div class = container>

</div>


  {% endblock %}